/* Enter your custom styles here */

.marginTeste > * {
    height: 2.2em !important;
    width: 2.2em !important;
    font-size: 2.2em !important;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.marginBotton {
    margin-bottom: 10px;
}